<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reset Your Password</title>
    </head>
    <body>
        <h3>Password Reset</h3>
        <p style="text-align: justify; font-size: 10px; font-family: sans-serif;">We've emailed you instructions for setting your password, if an account exists with the email you entered. you should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and don't forget to check your spam folder.</p>
    </body>
</html>
